* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:lightsteelblue;
    min-height: 100vh;
}
div {
    border-radius: 10px;
    width: 400px;
    padding: 50px;
    border: 5 solid #ffff;
    margin: 0px;
    background-color:aliceblue;
    height: 350px;
    text-align:center;
    
}
input{
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
}
button {
    align-items: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: pink;
    border-radius: 4px;
    padding: 10px;
}
 h2 {
    margin-bottom:20px;
 }
 input:hover,button:hover{
    background-color: blue;
 }